.navbar{
  background:#000;
  border-bottom:1px solid #FFD700;
  padding:20px 80px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.hero{
  min-height:85vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;

  background:
  linear-gradient(
    rgba(0,0,0,0.75),
    rgba(0,0,0,0.75)
  ),
  url("https://images.unsplash.com/photo-1524504388940-b1c1722653e1?w=1600");

  background-size:cover;
  background-position:center;

  color:white;
  padding:50px;
}

.hero h1{
  font-size:5rem;
  color:#FFD700;
  font-weight:800;
  margin-bottom:15px;
  text-transform:uppercase;
  letter-spacing:3px;
}

.hero h2{
  font-size:2rem;
  color:white;
  margin-bottom:20px;
}

.hero p{
  max-width:700px;
  color:#e5e5e5;
  font-size:1.1rem;
  line-height:1.8;
}

.hero button{
  margin-top:30px;
  background:#FFD700;
  color:black;
  border:none;
  padding:15px 40px;
  border-radius:50px;
  font-weight:700;
  cursor:pointer;
  transition:0.3s;
}

.hero button:hover{
  transform:translateY(-5px);
}

.logo{
  color:#FFD700;
  font-size:2.3rem;
  font-weight:800;
  letter-spacing:2px;
}


.nav-links{
  display:flex;
  gap:30px;
}

.nav-links a{
  color:white;
  text-decoration:none;
  margin-left:30px;
  font-size:18px;
  font-weight:600;
}

.nav-links a:hover{
  color:#FFD700;
}
.page{
  min-height:80vh;
  padding:80px 40px;
  text-align:center;
}

.page h1{
  color:#FFD700;
  margin-bottom:30px;
}

.about-container{
  max-width:800px;
  margin:auto;
  line-height:1.8;
}

.faq-item{
  max-width:800px;
  margin:20px auto;
  background:#111;
  border:1px solid #FFD700;
  padding:20px;
  border-radius:10px;
}

.contact-form{
  max-width:600px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:15px;
}

.contact-form input,
.contact-form textarea{
  padding:15px;
  border:none;
  border-radius:8px;
}

.contact-form button{
  background:#FFD700;
  color:#000;
  border:none;
  padding:15px;
  font-weight:700;
  cursor:pointer;
}

.footer{
  background:#050505;
  border-top:1px solid #FFD700;
  padding:60px;
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
}

.footer h2,
.footer h3{
  color:#FFD700;
  margin-bottom:15px;
}

.footer p{
  color:#ffffff;
  margin:10px 0;
}

.footer h2,
.footer h3{
  color:#FFD700;
}
.products-preview{
  background:#000;
  padding:80px 50px;
  text-align:center;
}

.products-preview h2{
  color:#FFD700;
  font-size:2.5rem;
  margin-bottom:40px;
}

.cards{
  display:flex;
  justify-content:center;
  gap:30px;
  flex-wrap:wrap;
}

.card{
  width:300px;
  background:#111;
  border:1px solid #FFD700;
  border-radius:15px;
  padding:25px;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-10px);
  box-shadow:0 0 20px rgba(255,215,0,0.4);
}

.card h3{
  color:#FFD700;
  margin-bottom:10px;
}

.card p{
  color:#ddd;
}
.faq-item{
  background:#050505;
  border:2px solid #FFD700;
  border-radius:20px;
  padding:40px;
  margin:30px auto;
  max-width:1000px;
  text-align:center;
}

.faq-item h3{
  color:#FFFFFF;
  font-size:2rem;
  margin-bottom:20px;
  font-weight:700;
}

.faq-item p{
  color:#E5E5E5;
  font-size:1.2rem;
  line-height:1.8;
}